<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <h2>Login</h2>

    <% if (locals.errores) { %>

        <%   errores.forEach((error) => {  %>
                <p>
                  <%=  error.msg  %>
                </p>
        <%  }) %>
    
        <%  }  %>

    <form action="/login" method="POST">

        <label for="email">Email</label>
        <input type="email" name="email" value="<%= locals.old && old.email ? old.email : '' %>">

        <label for="password">Contrasenia</label>
        <input type="password" name="password">

        <label for="recordame">Recordame</label>
        <input type="checkbox" name="recordame">

        <button type="submit">Login</button>

    </form>

</body>

</html>